﻿@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <div class="col-sm-1">@Html.BotonEditorTexto("Inicio")</div>
    <div class="col-sm-10">
        @Html.Raw(Fondos_Antiguos.ViewUtil.ObtenerMensaje("Home/Inicio", this.Context))
    </div>
    <div class="col-sm-1"></div>
</div>