@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <div class="col-sm-9">
        <div>
            <div style="background-image: url('http://ahabatcr.org/assets/images/dsc-0521-5581-2000x1328.jpg'); position:relative; background-size:cover; height: 150px;">
                <div class="display-4 text-light" style="text-shadow: 5px 5px 2px #000000; bottom: 5px; left: 5px;">¡Bienvenido a Fondos Antiguos!</div>
            </div>
        </div>
        <hr class="my-4" />
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at leo nunc. Proin nisl lorem, porttitor sit amet ultrices at, elementum vel eros. Curabitur eget viverra est. Etiam congue tempus risus, vel maximus urna tincidunt eu. Proin at tortor eget nibh gravida varius. Aenean pharetra lectus vitae mi auctor, ac tristique lectus scelerisque. Cras ut justo in nisi varius egestas ac et eros. Integer ornare ipsum posuere, posuere lectus sed, aliquam tellus. Morbi odio orci, efficitur a dui sagittis, ultricies rhoncus mauris.

            </p>
            <p>
                Aliquam ornare enim vel nibh convallis pellentesque. Nullam vel pharetra lorem, in ullamcorper tellus. Integer lacinia nunc mattis est condimentum, ac vehicula lorem mattis. Maecenas pulvinar risus et erat gravida, non commodo arcu iaculis. Nam elementum lacus sed iaculis consectetur. Fusce fermentum arcu vitae mauris tincidunt volutpat. Curabitur interdum metus ut nibh congue, a pharetra lacus pharetra. Curabitur iaculis faucibus gravida. In viverra purus et augue efficitur varius. Maecenas vestibulum elit vel tortor suscipit volutpat. Suspendisse non iaculis enim. Sed quam sapien, elementum non rutrum aliquet, finibus eget tellus. Nulla a ipsum id lectus malesuada blandit. Etiam eros eros, lobortis nec magna eu, accumsan interdum ligula. Nam fermentum et sapien ut ultrices.

            </p>
            <p>
                Phasellus dictum pretium libero a ornare. Cras luctus efficitur nunc, condimentum tristique elit interdum nec. Nulla ac eros sed nunc fermentum lacinia. Mauris aliquet urna non lectus gravida pulvinar. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam id sem vel dui sodales gravida a vitae neque. Etiam volutpat venenatis augue in interdum. Maecenas posuere gravida condimentum. Aliquam placerat interdum sapien nec semper.

            </p>
            <p>
                Ut eleifend blandit est a pellentesque. Donec sed blandit massa. Phasellus accumsan efficitur tincidunt. Duis a malesuada augue. Sed urna odio, pulvinar at suscipit at, sollicitudin id turpis. Sed eget nibh fringilla, finibus turpis non, rutrum turpis. Proin ut augue non lectus facilisis congue id quis eros. In eget purus eu nulla finibus posuere rhoncus accumsan mauris.
            </p>
            <p>
                Sed ultrices, tortor sit amet viverra blandit, dui est tincidunt turpis, vel congue libero ex eget eros. Proin finibus dapibus sem, id tincidunt turpis venenatis vitae. Sed quis rutrum velit. Duis id dolor sit amet nisl dapibus vestibulum in at nibh. In felis ipsum, posuere a leo eget, interdum consectetur tellus. Etiam faucibus dolor sed nibh dapibus sollicitudin. Aliquam ut egestas dolor, eu sollicitudin mauris. Suspendisse suscipit nulla libero, id euismod orci commodo non.
            </p>
        </div>
    </div>
</div>