@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Registrar rol";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RegistrarRol", "Cuenta", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

}